body {
  box-sizing: border-box;
  color: green;
  font-size: 4rem;
  font-family: "MS Gothic";
}
#chess-board {
  width: calc(96px * 8);
  height: calc(96px * 8);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.tile-color-white {
  background: rgb(128, 184, 123);
}
.tile-color-black {
  background: rgb(101, 127, 246);
}
.chess-tile {
  user-select: none;
  cursor: pointer;
  width: 96px;
  height: 96px;
  border: 2px;
  border-style: solid;
  border-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.even {
  background: rgb(144, 243, 144);
}
.on {
  background: rgb(173, 77, 77);
}
.row {
  display: flex;
}